.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 50px;
  
  background-color: white;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin-right: 190px;
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu li .nav-link {
  text-decoration: none;
  font-weight: 500;
  color: gray;
  position: relative;
}

.menu li .nav-link:hover {
  color: black;
}

.menu li .nav-link::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.menu li .nav-link:hover::after {
  background-color: rgb(184, 45, 45);
}

.logo {
  max-width: 180px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 129px;
  width: 85%;
  margin-left: 70px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .line1 {
  width: 30px;
  height: 4px;
  background-color: gray;
  margin: 6px 0;
}

.hamburger-menu .line2 {
  width: 30px;
  height: 4px;
  background-color: gray;
  margin: 6px 0;
}

.hamburger-menu .line3 {
  width: 30px;
  height: 4px;
  background-color: gray;
  margin: 6px 0;
}

@media screen and (max-width: 900px) {
  .menu {
    border-radius: 20px;
    position: fixed;
    top: 10vh;
    right: 0;
    left: 250px;
    width: 50%;
    height: 70vh;
    background: rgba(231, 221, 221, 0.884);
    flex-direction: column;
    z-index: 1;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .menu.menu-active {
    transform: translateX(0);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }

  .menu li .nav-link {
    color: rgb(27, 27, 27);
    font-weight: 600;
  }

  hr {
    position: relative;
    right: 30px;
    top: 0px;
  }

  .hamburger-menu {
    position: fixed;
    right: 40px;
    display: block;
    z-index: 1;
  }

  .hamburger-menu div {
    transition: 0.4s ease-in;
  }
}
